@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, html, main, body, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

html {
  background: #EEEEEF;
}

hr {
  background: #A8A8A8;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: #212121;
  text-decoration: none;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

/* <!-----------------------------------------------------------------------------------------------------> */

.background__btn{
   display: flex;
   font-family: Cabin;
   background-color: #6DB236;
   border-style: solid;
   border-radius: 25%;
   color: #eed963;
   font-weight: 700;
   font-size: 20px;
}

body.dark-theme {
   background-color: #4b4949;
 }
 
body.dark-theme .header {
   background-color: #444;
 }
 
 body.dark-theme .header__nav  {
   background-color: #ffffff;
 }
 
 body.dark-theme .footer {
   background-color: #444;
 }
 
/* <!-----------------------------------------------------------------------------------------------------> */

.header {
  background-color: #10BBD5;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__logo {
  display: flex;
  width: 1296px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
}
.header__logo-link {
  display: flex;
  align-items: center;
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.header__quantity {
  position: relative;
  width: 40px;
  height: 40px;
}
.header__quantity-text {
  position: absolute;
  font-size: 12px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: Cabin;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}
.header__nav {
  background-color: #FFF;
}
.header__nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0px;
  background-color: #FFF;
}

.nav__list-color {
  color: #F8FDFE;
  margin-right: 8px;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.nav__registration-color {
  color: #000;
  display: flex;
  gap: 40px;
}

.block__title {
  padding: 32px 0px 23px 0px;
  border-bottom: 1px solid #A8A8A8;
  margin-top: 100px;
}
.block__title-text {
  color: #1F1F1F;
  font-family: Cabin;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.main {
  display: flex;
  margin-top: 24px;
}
.main__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}
.main__card--discount {
  position: absolute;
  color: #F8FDFE;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}
.main__card-img {
  margin: 0px 32px 0 32px;
}
.main__card-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-style: normal;
}
.main__card-button {
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 74.5px;
  border-radius: 4px;
  margin-top: 16px;
  transition: 0.3s ease;
}
.main__product-card {
  display: grid;
  row-gap: 16px;
  padding: 32px;
  border: 1px solid #000;
}

.hit {
  background-color: #4200FF;
}

.new {
  background-color: #AF39E7;
}

.interest {
  background-color: #EA33C0;
  margin-left: 40px;
}

.discount-interest-off {
  margin-left: 0px;
}

.discount-interest-new {
  margin-left: 51px;
}

.subtitle {
  width: 240px;
  color: #1F1F1F;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
}

.subtext {
  color: #8E8E8E;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}

.price {
  display: inline-block;
  color: #E90000;
  font-size: 24px;
  font-weight: 500;
}
.price-old {
  display: inline-block;
  margin-left: 24px;
  color: #8E8E8E;
  font-size: 24px;
  font-weight: 500;
  text-decoration: line-through;
}

.button--basket {
  background-color: #4C394E;
}
.button--basket:hover {
  transition: 0.3s ease;
  background-color: #744978;
}

.button--end-up {
  background-color: #4D762D;
}
.button--end-up:hover {
  background-color: #6DB236;
  transition: 0.3s ease;
}

.footer {
  margin-top: 120px;
  background-color: #4C394E;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}
.footer__text {
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.block__connection {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.block__connection-item {
  width: 64px;
  height: 64px;
  position: relative;
}
.block__connection-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__connection-icon {
  position: absolute;
  top: 9px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block__connection-icon:hover {
  transform: rotate(12.05deg);
  right: 2px;
}

